---
import LandingPage from '../examples/LandingPage';
import Layout from '../layouts/Layout.astro';
---

<Layout title="React GeoJSON Map Documentation">
  <h1>Welcome to React GeoJSON Map Documentation</h1>
  <p>This is the homepage for the documentation of react-geojson-map library.</p>
  <LandingPage client:load />
</Layout>
